%h2.title Sign Up
= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f|
  = render "devise/shared/error_messages", resource: resource
  .field
    = f.label :email, class: 'label'
    %p.control
      = f.email_field :email, autofocus: true, class: 'input'
  .field
    = f.label :password, class: 'label' do
      Password
      - if @minimum_password_length
        %em
          (#{@minimum_password_length} characters minimum)
    %p.control
      = f.password_field :password, autocomplete: "off", class: 'input'
  .field
    = f.label :password_confirmation, class: 'label'
    %p.control
      = f.password_field :password_confirmation, autocomplete: "off", class: 'input'
  .actions
    = invisible_recaptcha_tags(text: 'Submit', class: 'button is-success')
= render "devise/shared/links"
