%h2.title Log in

= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f|
  .field
    = f.label :email, class: 'label'
    %p.control
      = f.email_field :email, autofocus: true, class: 'input'
  .field
    = f.label :password, class: 'label'
    %p.control
      = f.password_field :password, autocomplete: "off", class: 'input'
  - if devise_mapping.rememberable?
    .field
      %p.control
        %label.checkbox
          = f.check_box :remember_me
          Remember Me
  .actions
    = invisible_recaptcha_tags(text: "Log in", class: 'button is-primary')
= render "devise/shared/links"
